.stage-bar {
  display: table;
  width: 100%;
  // TODO: Add Max Width
  position: relative;
  max-width: 1000px;
  margin: auto;
  height: 50px;

  &__bar {
    width: 80%;
    margin: auto;
    height: 30px;

    .progress-bar {
      border-radius: 30px;
      background: white;

      &__filler {
        border-radius: 30px 0px 0 30px;
      }
    }
  }

  &__icons {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    align-items: center;

    .stage-icon {
      height: 40px;
      width: 40px;
      background: skyblue;
      color: rgb(0, 108, 181);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;

      &--current {
        background: rgb(0, 108, 181);
        color: white;
      }

      &--next {
        background: skyblue;
        color: white;
        // animation: pulse 0.5s infinite;
        height: 60px;
        width: 60px;
      }
    }
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(82, 223, 255, 0.5);
  }

  100% {
    box-shadow: 0 0 0 15px rgba(82, 223, 255, 0);
  }
}
