@import './third-party/index.scss';

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #042b80;
  color: white;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p+p {
  margin-top: 0;
}

$color-border: rgba(74, 206, 255, 0.38);
$color-text: rgb(156, 228, 255);

svg {
  overflow: initial;
}

.dot {
  background-color: rgba(74, 206, 255, 0.38);
  box-shadow: 0px 0px 5px rgba(74, 206, 255, 0.38);
  position: fixed;
  border-radius: 50%;
  height: 2px;
  width: 2px;
}