.start {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  flex-direction: column;

  &__instructions {
    text-align: center;
    color: skyblue;
    margin: auto;
    padding: 0px 10px;
    background: hsla(0, 0%, 0%, 0.50);
    border: solid 1px skyblue;
    padding: 5px 10px;
  }

  &__cycle {
    width: 200px;
    margin: 25px auto;
  }

  &__touch {
    width: 200px;
    margin: 25px auto;
  }
}